<% content_for :head do %>
  成功激活-微信通联
<% end %>

<p class="muted" style="color:#555555">您已成功加入圈组 <font size="3px" color="#333333"><%= @group.name if @group.present? %></font></p>
<p class="muted" style="color:#555555">如果这是您首次使用,请关注微信公众账号 <font size="3px" color="#333333">微通联</font> 或扫描邀请邮件中二维码,完善个人信息。</p>
