<% content_for :head do %>
  一分钟搭建-微信通联
<% end %>

<p class="muted visible-phone">网页登陆tonglian.benyue.us,邀请好友更便捷！</p>
<h2>邀请圈中好友</h2>

<% unless @active_flag %>
	<p class="muted">账号未激活, <%= link_to("请激活账号",send_activate_mail_sys_users_url) %></p>
<% end %>

<%= form_tag(invite_users_sys_group_path(@sys_group), :html => {:class => 'form-horizontal',:method => "post"}) do |f| %>
  <div>
  	<label></label>
	<textarea name="bunch_users" class="hidden-phone" style="width:450px;height:200px;"></textarea>
  </div>
  <div >
		<button type="submit" class="btn">发送邀请邮件</button>
  </div>
<% end %>