<form action="/sessions" method="post">
  <label>用户名</label>
  <input type="email" name="email">
  <label>密码</label>
  <input type="password" name="password">
  <button type="submit" class="btn">登陆</button>
</form>