<% content_for :head do %>
  一分钟搭建-微信通联
<% end %>

<h2>第二步：创建圈子</h2>
<div class="row">
	<div class="span5">
		<%= form_tag(sys_groups_path, :html => {:class => 'form-horizontal',:method => "post"}) do |f| %>
			<div>
			  <label>名称</label>
			  <input type="text" name="name">
			</div>
			<div>
			  <label>联系方式</label>
			  <input type="text" name="phone">
			</div>
		  <div>
		  	<button type="submit" class="btn">下一步</button>
		  </div>
		<% end %>
	</div>
	<div class="span6" style="padding-left:70px;height:180px;border-left:#DDD solid 1px;">
		<p>微信头图样式</p>
		<div>
			<img src="/assets/default_2.jpg" style="height:140px;">
		</div>
	</div>
</div>
