<div id="wrapper" >
	<header style="margin-left: 38px;">
		<h1 style="font-size:31.5px;line-height:31.5px;">
			优众始发站
			<small style="font-size: 12px; vertical-align: top; color:inherit;">Beta</small>
		</h1>
		<div class="desc" style="margin-left: 4px;">优众企业内部导航</div>
	</header>
	<div id="main">
      <div style="margin-left:42px;color:#E62D34;margin-top: 20px;">已成功绑定，请返回微信界面</div>
	</div>
</div>




<style type="text/css">
/* Structure */
#wrapper {
  width: 96%;
  max-width: 920px;
  margin: auto;
  padding: 2%;
  margin-top:20px;
}
#main {
  width: 60%;
  margin-right: 5%;
  float: left;
}
aside {
  width: 35%;
  float: right;
}

/* Media Queries */
@media screen and (max-width: 480px) {
  header nav, #main, aside {
    float: left;
    clear: left;
    margin: 0 0 10px;
    width: 100%;
  }
}
</style>
