<% content_for :head do %>
  邮箱验证-通联
<% end %>

<div>
  <h2 style="font-size:20px;line-height:26px;">
    微信通联
  </h2>
  <%= form_tag(verify_sessions_path) do %>
    <input type="hidden" id="FromUser" name="FromUser" value="<%= @from_user %>">
    <div>
      <input name="email" id="email" type="email" placeholder="请输入邮箱" >
    </div>
    <button type="submit" class="btn">发送验证邮件</button>
  <% end %>
</div>

