<h1>激活邮箱</h1>

<div>
  <form action="/sessions/verify" method="post">
    <label>邮箱</label>
    <input type="text" name="email">
    <button type="submit" class="btn" >发送验证邮件</button>
  </form>
</div>