<% content_for :head do %>
  邮箱验证-通联
<% end %>

<div>
  <h2 class="visible-phone" style="font-size:20px;line-height:20px;">
    邮箱验证
  </h2>

  <h2 class="hidden-phone">
    邮箱验证
  </h2>

  <%= form_tag(verify_sessions_path) do %>
    <input type="hidden" id="FromUser" name="FromUser" value="<%= @from_user %>">
    <div>
      <input name="email" id="email" type="email" placeholder="请输入邮箱" >
    </div>
    <button type="submit" class="btn">发送验证邮件</button>
  <% end %>
</div>

