<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>用户邀请</title>
  </head>
  <body >
    <img width="120" height="120" src="http://<%=SITE_DOMAIN%>/assets/daohang.jpg"/>
  </body>
</html>