<h2>添加用户</h2>
<%= form_tag(import_users_sys_users_path, :html => {:class => 'form-horizontal',:method => "post"}) do |f| %>
  <textarea rows="7" name="users_info" style="width: 550px;"></textarea>
  <input name="commit" class ="btn info" type="submit" value="提交" />
<%- end -%>
