/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body { /*background-image: url('../assets/theme_bgs/twttr-13.gif');*/}

.main-body { padding: 70px 0 80px; margin-bottom: 0; position: relative;  }
.main-body .container h2 { margin-bottom: 30px; }
.bunch_new_textarea { width: 800px;height:300px; }

.dl-horizontal.dl-tlian dt{ width:40px; text-align:left; }
.dl-horizontal.dl-tlian dd { margin-left: 40px; }