/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body { /*background-image: url('../assets/theme_bgs/twttr-13.gif');*/}

.main-body { padding: 70px 0 80px; margin-bottom: 0; position: relative;  }
.main-body .container h2 { margin-bottom: 30px; }
.bunch_new_textarea { width: 800px;height:300px; }

.dl-horizontal.dl-tlian dt{ width:40px; text-align:left; }
.dl-horizontal.dl-tlian dd { margin-left: 40px; }

.select_wxtp{ padding-left:50px; height:180px; border-left:#DDD solid 1px; }
.select_wxtp table td { width: 250px; }
.select_wxtp .wxtp_box{ width:200px;height:150px;text-align:center;border:1px #DDD solid; }
.wxtp_box { cursor: pointer; background-color: pink;}
.wxtp_box:hover { }
.select_wxtp .default_wxtp{ font-weight:bold;font-size:28px;text-align:center;line-height:130px; }
.wxtp .wxtp_title { font-weight:bold;font-size:28px;text-align:center;line-height:50px; }
.wxtp hr{ margin-top:0px;margin-bottom:10px;}
.wxtp .wxtp_phone{ font-size:16px;line-height:16px; }